/* RESET */
*{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Play&family=Pridi&display=swap');

body{
    background-color: #686868;
}
.logo{
    text-align: center;
    padding: 16px;
}
h3{
    font-family: 'Pridi';
    color: white;
    font-weight: normal;
    font-size: 18px;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.gap{
    padding: 10px 10px;
}
.button{
    background-color: #686868;
    opacity: 50%;
    border-radius: 22px;
    margin: 5px 3px;
    text-align: center;
    text-decoration: none;
}
.headerbg{
    background-color: #A4BFEB;
    margin-bottom: 5px;
}
header{
    position: fixed; /* Set the navbar to fixed position */
    z-index: 100;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}
.slider-frame{
    overflow: hidden;
    height: 1080px;
    width: 1903px;
    margin-left: auto;
    margin-right: auto;
}
    /* ----- Animation ------ */
@-webkit-keyframes slide_animation{
    0%   { left: 5760px; }
    10%  { left: 5760px; }
    20%  { left: 5760px; }
    30%  { left: 3840px; }
    40%  { left: 3840px; }
    50%  { left: 3840px; }
    60%  { left: 1920px; }
    70%  { left: 1920px; }
    80%  { left: 1920px; }
    90%  { left:    0px; }
    100% { left:    0px; }
}
.slide-images{
    width: 7680px;
    height: 1080px;
    margin: 0 0 0 -5760px;
    position: relative;
    z-index: -1;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 17s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
.img-container{
    height: 1080px;
    width: 1920px;
    position: relative;
    float: right;
}
    /* ----- Animation END ------ */
.grid2x2 {
    margin-top: 245px;
    margin-bottom: 245px;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.grid2x2 > div > div > h3{
    font-size: 27px;
    text-shadow: 2px 2px 4px black;
     /* distanza verticale distanza orizzontale e sfumatura */
}
.box {
    display: flex; 
    flex-basis: calc(50% - 40px);  
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    width: 600px;
    height: 450px;
}
.resize-img{
    object-fit: cover;
    overflow: hidden;
}
.ontop{
    position: relative;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}


