/*-------------------------------------------------------------------------------- RESET --------------------------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Play&family=Pridi&display=swap');

body{
    background-color: #686868;
    color: white;
}
.logo{
    text-align: center;
    padding: 16px;
}
h3{
    font-family: 'Pridi';
    color: white;
    font-weight: normal;
    font-size: 18px;
}
p{
    font-weight: normal;
    font-size: 18px;
    font-family: 'Play';
    line-height: 26px;
    color: white;
}
.gap{
    padding: 10px 22px;
}
.button{
    background-color: #68686882;
    border-radius: 22px;
    margin: 5px 3px;
    text-align: center;
    text-decoration: none;
}
.button:hover{
    background-color: #06004da5;
}
a{
    text-decoration: none;
}
.headerbg{
    background-color: #A4BFEB;
    margin-bottom: 5px;
    width: 100%;
}
.slider-frame{
    margin-top: 15px;
    overflow: hidden;
    height: 220px;
    width: 388px;
    margin-left: auto;
    margin-right: auto;
}
.img-container > img{
    width: 388px;
}
    /* -------------------------------------------------------------------------------- Animation -------------------------------------------------------------------------------- */
@-webkit-keyframes slide_animation{
    0%   { left: 1164px;}
    10%  { left: 1164px;}
    20%  { left: 1164px;}
    30%  { left: 776px; }
    40%  { left: 776px; }
    50%  { left: 776px; }
    60%  { left: 388px; }
    70%  { left: 388px; }
    80%  { left: 388px; }
    90%  { left:    0px;}
    100% { left:    0px;}
}
.slide-images{
    width: 1552px;
    height: 220px;
    margin: 0 0 0 -1164px;
    position: relative;
    z-index: -1;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 17s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}
.img-container{
    height: 220px;
    width: 388px;
    position: relative;
    float: right;
}
    /* -------------------------------------------------------------------------------- Animation END -------------------------------------------------------------------------------- */
.flexgrid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 245px;
    margin-bottom: 245px;
}
.box {
    display: flex; 
    flex-basis: calc(50% - 40px);  
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    width: 600px;
    height: 450px;
}
.resize-img{
    object-fit: cover;
    overflow: hidden;
    width: 500px;
}
.ontop{
    position: relative;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}
.paging{
    margin-bottom: 120px;
}
.center{
    text-align: center;
    padding-bottom: 50px;
}
.center > h2{
    font-size: 50px;
    text-decoration: 2px underline white;
    font-weight: normal;
    font-family: 'Pridi';
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.spacingAndColor{
    padding-bottom: 30px;
    align-self: center;
    font-weight: normal;
    font-size: 16px;
    font-family: 'Play';
    line-height: 26px;
    text-align: center;
}
.formspacing{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.inputboxes{
    display: flex; 
    flex-direction: column;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    align-items: center;
}
.inputboxes > div > img{
    width: 388px;
}
.border{
    margin-top: 20px;
}
.sx{
    align-items: flex-end;
}
.dx{
    align-items: flex-start;
}
.inputs{
    height: 28px;
    width: 350px;
    padding-left: 10px;
}
.contactButton{
    padding: 10px 5px;
}
.textareabutton{
    display: flex; 
    flex-direction: column;
    justify-content: center;
}
.textareacenter{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.chisei{
    border: 2px solid red;
}
footer > div{
    background-color: #A4BFEB;
    width: 100%;
}
footer .column{
    padding: 10px 0px;
    text-align: center;
}
.fa-facebook{
    color: #3b5998;
}
.fa-youtube{
    color: #ff0000;
}
.fa-instagram{
    color: #f56040;
}
.fa-twitter{
    color: #00acee;
}
footer .column a{
    color: #fff;
    text-decoration: underline;
}
footer .column a:hover{ /* :hover è un pseudo elemento va messo vicino altrimenti non fa un c. */
    color: #009eee;
}
footer{
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
footer h4{
    text-align: center;
}
.menu_socials{
    display: flex;
    padding: 30px;
    font-size: 50px;
    justify-content: space-around;
    /* flex-direction: row; */
    /* flex-direction: row; è il default
    flex-direction: column; colonne in verticale */
}
.activebutton{
    background-color: #06004da5;
}

/*-------------------------------------------------------------------------------- Shop -------------------------------------------------------------------------------- */
.vehicletypebox{
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}
.vehicletypebox > img{
    width: 350px;
}
.vehicletypebox > div > h3{
    font-family: 'Pridi';
    color: white;
    font-weight: normal;
    font-size: 28px;
}

/*-------------------------------------------------------------------------------- Chi siamo -------------------------------------------------------------------------------- */
.verticalspace{
    padding-top: 15px;
    padding-bottom: 15px;
}
.padding{
    padding-left: 20px;
    padding-right: 20px;
}

/* -------------------------------------------------------------- Prodotti -------------------------------------------------------------- */
.producttypebox > p{
    text-align: center;
}
.paddingproducts{
    padding-left: 60px;
    padding-right: 60px;
}
.producttitle{
    font-size: 36px;
    text-decoration: 2px underline white;
    font-weight: normal;
    font-family: 'Pridi';
}
.producttextspacing{
    margin-bottom: 26px;
    padding: 0 22px;
}
    /* used in shop img too */
.resizeproduct-img{
    object-fit: cover;
    width: 500px;
    padding: 0 15px;
}

/*-------------------------------------------------------------- mediaquery ------------------------------------------------------ */
@media (min-width:864px){
    .moveright{
        padding-left: 300px;
    }
    .spacingAndColor{
        text-align: left;
    }
    .slider-frame{
        margin-top: 50px;
        overflow: hidden;
        height: 1080px;
        width: 1903px;
        margin-left: auto;
        margin-right: auto;
    }
    .img-container > img{
        width: 100%;
    }
    header{
        position: fixed; /* Set the navbar to fixed position */
        z-index: 100;
        top: 0; /* Position the navbar at the top of the page */
        width: 100%; /* Full width */
    }
    /*--------------------------------------------------------------------------------------- animation ---------------------------------*/
    @-webkit-keyframes slide_animation{
        0%   { left: 5760px; }
        10%  { left: 5760px; }
        20%  { left: 5760px; }
        30%  { left: 3840px; }
        40%  { left: 3840px; }
        50%  { left: 3840px; }
        60%  { left: 1920px; }
        70%  { left: 1920px; }
        80%  { left: 1920px; }
        90%  { left:    0px; }
        100% { left:    0px; }
    }
    .slide-images{
        width: 7680px;
        height: 1080px;
        margin: 0 0 0 -5760px;
        position: relative;
        z-index: -1;
        -webkit-animation-name: slide_animation;
        -webkit-animation-duration: 17s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        -webkit-animation-play-state: running;
    }
    .img-container{
        height: 1080px;
        width: 1920px;
        position: relative;
        float: right;
    }
    /*-------------------------------------------------------------------------------- end of animation -------------------------------------------------------------------------------- */
    .pagingdesktoponly{
        margin-bottom: 120px;
    }
    .pagingtop{
        margin-top: 250px;
    }
    .producttypebox{
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .producttypebox > p{
        text-align: left;
        padding: 15px;
    }

}

